{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Expense</th>
            <th>Day</th>
            <th>Value</th>
        </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.day }}</td>
                <td>{{ expense.value }}</td>
                <td><a href="{{ path('edit-expense', {'id': expense.id}) }}">Edit</a></td>
                <td><a href="{{ path('delete-expense', {'id': expense.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('new-expense') }}">New</a>
{% endblock %}